/* PAGE LAYOUT */
.custom-chat-page {
    display: flex;
    height: 100vh;
    width: 100%;
}

/* SAVE BUTTON */
.save-bar {
    width: 100%;
    padding: 10px 20px;
    z-index: 1000;
}

.choose-avatar {
    text-align: center;
    margin: 20px 0;
}

.customize-title {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    margin: 10px 0;
}

.color {
    margin: 20px;
}

.save-btn {
    background: linear-gradient(80deg, #5550FF, #3C4984);
    color: #ffffff;
    border: none;
    border-radius: 6px;
    padding: 6px 16px;
    cursor: pointer;
    font-weight: 600;
}

/* LEFT PANEL */
.customizer-panel {
    position: absolute;
    width: 300px;
    background: #fff;
    box-shadow: 0px 4px 4px 0 #00000035;
    margin: 30px;
    overflow-y: auto;
    z-index: 99;
    border-radius: 30px;
}

.customize-btn {
    margin-bottom: 10px;
    background: linear-gradient(80deg, #5550FF, #3C4984);
    padding: 13px 20px;
    text-align: center;
    color: #fff;
    border-radius: 30px;
}

.welcome-message {
    margin: 20px;
    text-align: center;
}

/* AVATAR */
.avatar-list {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 12px 0;
}

.avatar-item {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #ccc;
}

.avatar-item.active {
    border: 3px solid #2563eb;
}

/* INPUTS */
.customizer-panel input[type="color"] {
    width: 100%;
    height: 40px;
    border: none;
}

.customizer-panel textarea,
.customizer-panel select {
    width: 100%;
    padding: 10px;
    border: 1px solid #5550ff;
    border-radius: 10px;
}


.chat-position {
    margin: 20px;
}

/* CHAT PREVIEW */
.chat-preview {
    flex: 1;
    position: relative;
    overflow: hidden;
}

/* WEBSITE PREVIEW */
.website-preview {
    /* position: absolute; */
    inset: 0;
    width: 100%;
    height: 100%;
    border: none;
    z-index: 1;
}