.home-container {
    text-align: center;
    margin-top: 50px;
}

.home-container h1 {
    font-size: 2.5rem;
    color: #333;
}

.home-container p {
    font-size: 1.2rem;
    color: #555;
}

header {
    padding: 15px 30px;
    background-color: #3f6441;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
    font-weight: bold;
}

header a:hover {
    text-decoration: underline;
}

.user-info {
    display: flex;
    align-items: center;
}

.logout-btn {
    padding: 5px 10px;
    background-color: #f44336;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.logout-btn:hover {
    background-color: #d32f2f;
}



footer {
    padding: 15px;
    background-color: #333;
    color: white;
    text-align: center;
}

.footer {
    padding: 10px;
    background-color: rgb(76 175 80);
    text-align: center;
    position: absolute;
    width: 100%;
}


.container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.title {
  font-size: 2rem;
  color: #333;
  margin-bottom: 15px;
  text-align: center;
}

.subtitle {
  font-size: 1.2rem;
  margin-bottom: 20px;
  text-align: center;
  color: #555;
}

.loginPrompt {
  margin-top: 30px;
  color: red;
  font-size: 1.1rem;
  text-align: center;
}
